export const cloudantconfig = {
	  name: 'cloudantcoope',
    connector: 'cloudant',
	  database: 'cooperativa',
	  modelIndex: 'coope_model',
		apikey: <CLOUDANTDB.APIKEY>,
		host: <CLOUDANTDB.HOST>,
		iam_apikey_name: <CLOUDANTDB.IAMAPIKEYNAME>,
		iam_role_crn: <CLOUDANTDB.IAMROLECRN>,
		iam_serviceid_crn: <CLOUDANTDB.IAMSERVICEIDCRN>,
		password: <CLOUDANTDB.PASSWORD>,
		port: <CLOUDANTDB.PORT>,
		url: <CLOUDANTDB.URL>,
		username: <CLOUDANTDB.USERNAME>
	};

export const db2config = {
	  name: 'db2coope',
  	connector: 'db2',
		database: <DB2DB.DB>,
		host: <DB2DB.HOST>,
		password: <DB2DB.PASSWORD>,
		port: <DB2DB.PORT>,
		dsn: <DB2DB.SSLDSN>,
		user: <DB2DB.USERNAME>,
		schema: <DB2DB.USERNAME>
	};
