export const env = {
	'coopeapi' : {
		apiurl : <COOPEAPI.URL>,
		apikey : <COOPEAPI.APIKEY>,
		secret : <COOPEAPI.SECRET>
	},
	'cloudant': {
		url: <CLOUDANT.URL>,
		username: <CLOUDANT.USERNAME>,
		password: <CLOUDANT.PASSWORD>
	}
};
