.coope__heading{
	padding: 15px;
	background-color: #f4f4f4;
}
.calc{
    margin-bottom: 10px;
}

.btn-calc{
    margin: 15px;
}
.btn-download{
    float: right;
}
.bx--grid--full-width{
	margin-top: 0px !important;
}
/* .label-calc{
	background-color: #f4f4f4;
} */
.bx--text-input:disabled {
	color: #000000f1;
}

.cifras
.bx--text-input:disabled {
	text-align: right;
}
