<div ibmGrid class="bx--grid--full-width coope">
	<div ibmRow class="coope__banner">
		<div ibmCol [columnNumbers]="{'lg': 12, 'md' : 5}">
			<h1 class="coope__heading">
				{{ibmidservice.NombreEmpleado}}
			</h1>
			<h2 class="coope__subheading">
	<!--              {{ibmidservice.DireccionEmpleado}}   -->
			</h2>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 4, 'md' : 3}">
			<h1 class="coope__subheading2">
				{{ibmidservice.EmailEmpleado}}
			</h1>
			<h2 class="coope__subheading2">
				{{ibmidservice.CodEmpleado}}
			</h2>
		</div>

	</div>
	<ibm-placeholder></ibm-placeholder>
	<ng-template #overflowMenuItemTemplate let-data="data">
		<ibm-overflow-menu flip="true">
			<ibm-overflow-menu-option (click)="editProveedor(1)">
				Modificar
			</ibm-overflow-menu-option>
			<ibm-overflow-menu-option type="danger" (click)="deleteProveedor()">
				Eliminar
			</ibm-overflow-menu-option>
		</ibm-overflow-menu>
	</ng-template>


<div ibmRow class="coope__r2">
	<div ibmCol class="bx--no-gutter">
        <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
			<ibm-tabs ariaLabel="Tab navigation">
				<ibm-tab heading="Proveedores">
					<ibm-table-container  class="tabla-ds-3" >

						<ibm-table-header>
							<h4 ibmTableHeaderTitle>Proveedores de IBM</h4>

						</ibm-table-header>
						<ibm-table-toolbar [model]="modelProveedores">
                            <ibm-table-toolbar-content>
                               <!--  <ibm-table-toolbar-search
                                    placeholder=" Search in the Table "
									(search)="searchProveedor($event)"
									(clear)="clearSearchProveedor()"
								></ibm-table-toolbar-search> -->
								<button ibmButton="primary" size="sm" (click)="editProveedor(2)">
                                    Añadir<ibm-icon-add size="20" class="bx--btn__icon"></ibm-icon-add>
                                </button>

                            </ibm-table-toolbar-content>
                        </ibm-table-toolbar>


						<ibm-table
							[skeleton]="skeletonibmer"
							[model]="modelProveedores"
							[showSelectionColumn]="false"
							[sortable]="false"
							[striped]="false"
							[stickyHeader]="false"
							(rowClick)="onRowClickProveedor($event)"
							>
						</ibm-table>
						<ibm-pagination [model]="modelProveedores" (selectPage)="selectPageProveedor($event)"></ibm-pagination>
					</ibm-table-container>

				</ibm-tab>

			</ibm-tabs>

			<!-- <div ibmRow class="calc">
				<div ibmCol>
					<button class="btn-update-prestamo" type="button" ibmButton="primary" (click)="updateProve()">Guardar Cambios</button>

				</div>
			</div> -->
		</div>
	</div>
</div>
</div>

